@font-face {
  font-family: 'ArchiveGaramondPro';
  src: url('../fonts/ArchiveGaramondPro/ArchiveGaramondPro.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ArchiveGaramondPro/ArchiveGaramondPro.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ArchiveGaramondPro/ArchiveGaramondPro.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ArchiveGaramondPro/ArchiveGaramondPro.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/ArchiveGaramondPro/ArchiveGaramondPro.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ArchiveGaramondPro/ArchiveGaramondPro.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/*
  
  Custom styles
  
*/
body {
  background: #708090;
  color: #F5F5DC;
  font: 300 16px/22px "ArchiveGaramondPro", "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
  
  Grid
  
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.grid {
  margin: 0 auto;
  width: 960px;
}
.grid,
.col-1-3,
.col-2-3 {
  padding-left: 10px;
  padding-right: 10px;
}
.col-1-3,
.col-2-3 {
  display: inline-block;
  vertical-align: top;
}
.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}
.row {
  margin: 66px 0 44px 0;
  min-width: 960px;
}

/*

  Typography

*/
a, h2, h4 {
  color: #F5F5DC;
  text-decoration: none;
}
a:hover {
  color: rgb(228, 184, 40);
}
h2 {
  font-size: 24px;
}

/*
  
  Header
  
*/
.header {
	flex-direction: row;
  background: url("https://image.ibb.co/b8ME9o/Chico_Buarque_Header.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  text-transform: uppercase;
  color: #F5F5DC;
}
.title {
  font-size: 42px;
  margin-left: 10px;
  margin-bottom: 10px;
  line-height: 44px;  
}
.buttons {
  margin-bottom: 10px;
  margin-right: 5px;
  display: flex;
  flex-direction: row;
}
.button {
  margin-left: 5px;
  margin-right: 5px;
}
.button:hover {
  color: rgb(228, 184, 40);
}

/*
  
  About
  
*/
.grid img {
    display: block;
    width: 330px;
    float: right;
    margin: 0 0 0 10px;
}